.dialog_room {
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.scrollbar_wrapper {
    overflow-y: auto;
    height: 400px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
}
.scrollbar_wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}
.scrollbar_wrapper::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eeeeee;
}

.scrollbar_wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #d9d9d9;
}

.scrollbar_wrapper::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}

.scrollbar_wrapper::-webkit-scrollbar-thumb:active {
    background: #919191;
}
.dialogs_list{
    padding: 0 10px;
}
.dialogs_list .dialog{
    width: 100%;
    position: relative;
}
.dialog a {
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #f1f2f2;
    margin-right: 2px;
    line-height: 1.42857143;
    position: relative;
    display: block;
}
.dialog a:hover, .dialog.active, .dialog a:focus {
    border: none;
    border-bottom: 1px solid #8dc63f;
    border-radius: 0;
    cursor: pointer;
    background: none;
}
.pull_left {
    float: left;
}
.profile_photo_sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.msg_preview {
    margin-left: 50px;
}
.msg_preview h6{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #27aae1;
}
.msg_preview p{
    margin: 0 0 10px;
    color: #939598;
    font-size: 13px;
}
.msg_preview small{
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 11px;
}
.chat_alert {
    background: red;
    text-align: center;
    border-radius: 4px;
    padding: 1px 6px;
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: #fff;
}
.messages_col{
    padding: 0 10px;
}
.messages .message{

}
.messages {
    overflow-y: auto;
    height: 400px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
}
