.profile_card {
    background: linear-gradient(to bottom, rgba(39,170,225,.8), rgba(28,117,188,.8)), url(https://themified.com/friend-finder/images/covers/1.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 90px;
    border-radius: 4px;
    padding: 10px 20px;
    color: #fff;
    margin-bottom: 40px;
    box-sizing: border-box;
}
.profile_photo {
    border: 7px solid #fff;
    float: left;
    margin-right: 20px;
    position: relative;
    top: -30px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.profile_card h5 {
    color: #27aae1;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile_card a {
    font-size: 12px;
    color: #fff;
}