.header {
    grid-area: h;
    background: #231F20;
}
.header .container {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    width: 1200px;
    margin: 0 auto;
}
.navbar-brand {
    display: flex;
    align-items: center;
}