.right_sidebar {
    grid-column: 3;
}
.right_sidebar h4 {
    margin-top: 0;
}
.right_sidebar {
    position: sticky;
    top: 0;
    left: 0;
    align-self: start;
}
.pull_left {
    float: left;
}
.follow_user div {
    margin-left: 50px;
    position: relative;
}
.follow_user h5 a{
    color: #27aae1;
}
.follow_user h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.follow_user div::after {
    content: "";
    background: none;
    border-top: 1px solid #f1f2f2;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -10px;
}
.follow_user {
    margin-bottom: 20px;
}
.profile_photo_sm {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}