a{
  text-decoration: none;
}
.app-wrapper {
  display: grid;
  grid-template-areas:
          "h"
          "pc";
  grid-gap: 30px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.text-green{
  color: #8dc63f;
  font-size: 13px;
}
a.active {
  border-bottom: 1px solid #8dc63f !important;
}



